
  .social-icon {
    display: inline-block;
    background-color: #168ad8; /* Change the background color as needed */
    border-radius: 50%;
    padding: 10px;
}

.social-icon:hover {
  background-color: #3498db; /* Change the background color as needed */
}

.icon {
    color: white; /* Change the icon color as needed */
}
