/* Width of the scrollbar */
::-webkit-scrollbar {
    width: 7px;
  }
  
  /* Track (the area where the scrollbar is) */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle (the draggable part of the scrollbar) */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
  
  /* Button at the top and bottom of the scrollbar */
  ::-webkit-scrollbar-button {
    display: none; /* Hide the button */
  }
  
  /* Corner between the vertical and horizontal scrollbars */
  ::-webkit-scrollbar-corner {
    background: #f1f1f1;
  }
  
  /* Resizer (for resizing the textarea or text input) */
  ::-webkit-resizer {
    background: #888;
  }
  